[Unit]
Description=My Python Script
After=network.target

[Service]
ExecStart=python3.12 /root/Personal_AI_TG_bot/main.py &
WorkingDirectory=/root/Personal_AI_TG_bot/
User=root
Restart=on-failure
RestartSec=5
EnvironmentFile=/root/Personal_AI_TG_bot/.env
StandardOutput=append:/root/Personal_AI_TG_bot/logfile.log
StandardError=append:/root/Personal_AI_TG_bot/error.log


[Install]
WantedBy=multi-user.target
