[Unit]
   Description=My Python Script in Conda Environment
   After=network.target

[Service]
   ExecStart= /root/Personal_AI_TG_bot/run.sh
   Restart=always
[Install]
   WantedBy=multi-user.target
